@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-1: #fafcfa;
    --color-1-accent: #dfdfdf;

    --color-2: #1d1d1d;
    --color-2-accent: rgb(48, 48, 48);

    --color-3: #002831;
    --color-3-accent: #0083a0;

    --color-4: #da1085;
    --color-4-accent: red;

    /* Font Sizes */
    --tiny-font-size: 12px;
    --small-font-size: 15px;
    --medium-font-size: 21px;
    --large-font-size: 30px;
    --extra-large-font-size: 36px;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: var(--color-1);
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

.subtitle {
    font-size: var(--tiny-font-size);
    color: rgb(85, 85, 85);
}

h1 {
    font-size: var(--extra-large-font-size);
    margin: 0;
}


h2 {
    font-size: var(--large-font-size);
    font-weight: 500;
    margin: 0;
}

h3 {
    font-size: var(--medium-font-size);
    margin: 0;
}


p,
div {
    font-size: var(--small-font-size);
}

p b {
    font-weight: 600;
}

.full-height {
    height: 86vh;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-start {
    justify-content: flex-start;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.flex-column {
    flex-direction: column;
}

.reverse-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 96%;
}

.mb-1 {
    margin-bottom: 6px;
}

.mt-0 {
    margin-top: 0;
}

.pt-1 {
    padding-top: 5px !important;
}

.mt-1 {
    margin-top: 6px;
}

.gap-1 {
    gap: 7px;
}

.section {
    min-height: 50dvh;
    padding: 4dvh 3dvw 4dvh 3dvw;
    overflow-x: hidden;
}

.container {
    padding-left: 3dvw;
    padding-right: 3dvw;
}


.button {
    padding: .7rem 2rem;
    border-radius: 10px;
    border: none;
    color: var(--color-1);
    background-color: var(--color-2);
    transition: all 150ms linear;
    cursor: pointer;
    font-size: var(--small-font-size);
}

.button:hover {
    background-color: var(--color-2-accent);
}

.button-ghost {
    background-color: transparent;
    border: 1px solid var(--color-2);
    color: var(--color-2);
    font-size: var(--tiny-font-size);
}

.icon-button {
    border: none;
    background-color: transparent;
    font-size: calc(var(--small-font-size) + 2px);
    padding: .5rem;
    border-radius: 100%;
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #575757;
}

.icon-button:hover,
.icon-button:focus,
.icon-button:active {
    background-color: #22222241;

}

.my-icon {
    width: var(--extra-large-font-size);
}